*.e filter=lfs diff=lfs merge=lfs -text
*.silo filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.UPF filter=lfs diff=lfs merge=lfs -text
*.upf filter=lfs diff=lfs merge=lfs -text

